name: test-suite-automation

image:
  repository: registry.gitlab.com/spacee/deming/rovr-proj/gateway/test-suite-automation
  pullPolicy: IfNotPresent
  tag: 0.0.0

env:
  name: ''

testSuiteAutomation:
  gateway: ''           # should be pulled from gateway hostname label
  customerId: ''        # should be pulled from gateway labels
  storeId: ''           # should be pulled from gateway labels
  cronSchedule: ''
  notificationType: ''  # either ALERT for production issues for REPORT for QA testing
  slackWebhookUrl: ''   # webhook url for alert notifications, if nothing is specified no alerts will be sent
  observrRails_1_1: ''  # comma separated string of rail ids for the observers.  The 1_1 indicates customer id and then store id
  observrRails_3_4: ''
  observrRails_4_6: ''
  observrRails_100_100: ''
