stages: # List of stages for jobs, and their order of execution
  - build
  - test
  - report

build-job: # This job runs in the build stage, which runs first.
  stage: build
  script:
    - npm install "Compiling the code..."

test automation-job: # This job runs in the test stage.
  stage: test # It only starts when the job in the build stage completes successfully.
  script:
    - npm run qa "Running unit tests."

test automation-report:
  stage: report
  script: -jest --ci --reporters=default --reporters=jest-junit
