stages: # List of stages for jobs, and their order of execution
  - rovrTest

variables:
  ENVIRONMENT: $ENVIRONMENT

workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == "schedule" || $CI_PIPELINE_SOURCE == "web"
      when: always

.configure-environment: &configure-environment
  - |
    envFile="./environments/${ENVIRONMENT}.env"
    if [[ ! -f "$envFile" ]]; then
      echo "ERROR: ${envFile} does not exist"
      exit 1
    fi

    echo "Loading ${envFile} environment"
    # load environment variables from file, ignore commented (#) lines
    export $(grep -v '^#' $envFile | xargs)

    # create kafka configuration file
    echo 'creating ~/.config directory to house kafka config file'
    mkdir ~/.config'

    echo "Writing kafka config to ~/.config/kafkacatconfluent.conf"
    cat <<EOT >> ~/.config/kafkacatconfluent.conf
    bootstrap.servers=${CONFLUENT_URL}
    security.protocol=SASL_SSL
    sasl.mechanisms=PLAIN
    sasl.username=${CONFLUENT_USERNAME}
    sasl.password=${CONFLUENT_PASSWORD}
    EOT


rovrTest:
  stage: rovrTest
  image: registry.gitlab.com/spacee/spacee-internal-services/spacee-node-ci:latest
  tags:
    - spacee-org-docker
  script:
    - *configure-environment
    - npm install
    - npm run rovr
