stages: # List of stages for jobs, and their order of execution
  - rovrTest

workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == "schedule" || $CI_PIPELINE_SOURCE == "web"
      when: always

rovrTest:
  stage: rovrTest
  image: registry.gitlab.com/spacee/spacee-internal-services/spacee-node-ci:latest
  tags:
    - spacee-org-docker
  script:
    - npm install
    # load environment variables from file, ignore commented (#) lines
    - export $(grep -v '^#' ./environments/${ENVIRONMENT}.env | xargs)
    - npm run rovr
