apiVersion: batch/v1beta1
kind: CronJob
metadata:
  labels:
    name: {{ .Values.name }}
  name: {{ .Values.name }}
spec:
  schedule: {{ .Values.testSuiteAutomation.cronSchedule | quote }}
  jobTemplate:
    spec:
      template:
        spec:
          containers:
            - name: test-suite-automation
              image: '{{ .Values.image.repository }}:{{ .Values.image.tag }}'
              imagePullPolicy: Always
              env:
              - name: APP_VERSION
                value: {{.Values.image.tag}}
              envFrom:
              - configMapRef:
                  name: "{{ .Values.name }}-configmap"
          restartPolicy: OnFailure
          imagePullSecrets:
            - name: gitlab-registry